*.pyc
*.pyo
*.ipynb
.idea
.idea/*
.vscode
.coverage
_temp_media
_temp_communication_storage
_media/partner_signatures/*
.cache
venv
dumps/
scripts/
temp/*
import_uploads/*
_private_media/import_uploads/*
_private_media/communications/*
!/_private_media/import_uploads/test_*
!_private_media/communications/test_*
static/lib
_static
_media
node_modules
static/build
static/fonts
settings/dev_local.py
settings/test_local.py
.pytest_cache/
.mypy_cache/
categories.json
confusables.json
templates/layouts


env.sh
.env
*.mo


# reports
eslint.xml
lesslint.xml
coverage.xml
test-reports
_private_media/temp/
ddagent-install
.ipynb
*.log
/_private_media/exports/*
